<p>Bitcoin is an open-source software that since 2009 has enabled the exchange of an entirely new form of money over the
    internet.</p>
<p>As set out in the rules of the software, only 21 million bitcoins, divisible into many more smaller units, will ever
    be created.</p>
<p>Bitcoins are directly transferred from person to person without the need of financial institutions.</p>
<p>Try-bitcoin.com teaches you how to send & receive payments in under 5 minutes.</p>
<app-youtube-video></app-youtube-video>
<p>After you complete the tutorial, try-bitcoin.com shows you the best ways to buy bitcoin for your country.</p>
