<app-header></app-header>

<mat-card class="card">
    <mat-card-header>
        <div mat-card-avatar class="header-image"></div>
        <mat-card-title>Why should I try Bitcoin?</mat-card-title>
    </mat-card-header>
    <mat-card-content>
        <p>There are many reasons to try out this new form of internet money.</p>
        <div class="card-content-header">Protect Your Wealth</div>
        <p>
            Dollars have lost 90% of their purchasing power since 1950 as politicians printed more of them.
            Bitcoin’s fixed supply makes it the best way to save your money.
        </p>
        <div class="card-content-header">Censorship Resistant Payments</div>
        <p>
            The bitcoin payment network can be used to evade payment restrictions.
            It allows citizen of isolated countries like Iran, Cuba or North Korea to accept global payments in the form
            of Bitcoin.
            It can be used to finance oppressed political parties inside dictatorships.
            The Whistleblower platform WikiLeaks stayed operational by receiving over 25 thousand bitcoin donations when
            western governments froze their bank account.
        </p>
        <div class="card-content-header">Permissionless Payments</div>
        <p>
            Bitcoin is a global payment network that does not require any identification documents. No one can stop you
            from using the Bitcoin Network.
        </p>
    </mat-card-content>

    <mat-card-actions>
        <app-home-button></app-home-button>
    </mat-card-actions>
</mat-card>

<app-footer></app-footer>



