.centered {
    text-align: center;
}


#download-btn-android {
    padding: 5px 20px;
    max-width: 200px;

}
#download-btn-ios {
    padding: 5px 20px;
    max-width: 180px;
}

ol {
    padding-left: 16px;
    padding-bottom: 16px;
}

li {
    padding-bottom: 4px;
}


.pulsate-fwd {
    -webkit-animation: pulsate-fwd 1.5s ease-in-out infinite both;
    animation: pulsate-fwd 1.5s ease-in-out infinite both;
}

@-webkit-keyframes pulsate-fwd {
    0% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }
    50% {
        -webkit-transform: scale(1.1);
        transform: scale(1.1);
    }
    100% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }
}
@keyframes pulsate-fwd {
    0% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }
    50% {
        -webkit-transform: scale(1.1);
        transform: scale(1.1);
    }
    100% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }
}
