<app-header></app-header>

<mat-card class="card">
    <mat-card-header>
        <div mat-card-avatar class="header-image"></div>
        <mat-card-title>Statistics</mat-card-title>
        <mat-card-subtitle>...</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
        <p>Into: {{this.stats.introStepVisited}}</p>
        <p>Wallet: {{this.stats.walletStepVisited}}</p>
        <p>Install: {{this.stats.installStepVisited}}</p>
        <p>Receive: {{this.stats.receiveStepVisited}}</p>
        <p>Send: {{this.stats.sendStepVisited}}</p>
        <p>Version: <a id="version" href="static/assets/version.txt">v0.0.1</a></p>
    </mat-card-content>

    <mat-card-actions>
        <button mat-raised-button color="primary" (click)="refresh()">Refresh</button>
    </mat-card-actions>
</mat-card>

<app-footer></app-footer>



