<div class="close-btn" (click)="close()">
    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M12 2c5.514 0 10 4.486 10 10s-4.486 10-10 10-10-4.486-10-10 4.486-10 10-10zm0-2c-6.627 0-12 5.373-12 12s5.373 12 12 12 12-5.373 12-12-5.373-12-12-12zm6 16.538l-4.592-4.548 4.546-4.587-1.416-1.403-4.545 4.589-4.588-4.543-1.405 1.405 4.593 4.552-4.547 4.592 1.405 1.405 4.555-4.596 4.591 4.55 1.403-1.416z"/></svg>
</div>
<div width="1" class="phone-video">
    <div class="phone-video-wrapper">
        <div height="100%"
             style="background-image: url(static/assets/img/iphone-frame.png); background-size: 100%; background-repeat: no-repeat;"
             class="phone-case">
        </div>
        <video autoplay="" loop="" playsinline="" class="video" width="300px" height="600px">
            <source src="static/assets/video/install.mp4" type="video/mp4">
        </video>
    </div>
</div>
