.mat-card {
    margin: 10px auto; /* the auto centers the card*/
}

.mat-card-title {
    padding-top: 12px;
}

.mat-card-content {
    padding-top: 10px;
}

.card {
    max-width: 600px;
}

.mat-card-actions {
    text-align: center;
}

.header-image {
    background-image: url(img/heart.jpg);
    background-size: cover;
}

.centered {
    text-align: center;
}

.value {
    padding-left: 10px;
    font-size: 14px;
}

.stats {
    padding-bottom: 5px;
}

.card-content-header {
    font: 400 20px/32px Roboto, "Helvetica Neue", sans-serif;
    margin-bottom: 5px;
}

