<p>A wallet is device or software application that allows you to send and receive Bitcoin payments.</p>
<div class="card-content-header">Wallet Types</div>
<p>There are three different types of wallets:</p>
<p>1. Web Wallets are custodial wallets offered by companies. The usage is highly discouraged because they can get hacked or steal your money.</p>
<p>2. Mobile & Desktop Wallet are applications that you install onto your phone or your computer. They make frequent transactions easy while keeping the bitcoins fully under your control.</p>
<p>3. Hardware Wallets are specific devices that offer the most secure way to store Bitcoin. They are best suited for secure, long-term storage.</p>
<div class="card-content-header">Wallet Recovery</div>
<p>Wallets can either be custodial or not custodial.</p>
<p>Non custodial wallets usually ask the user to write down a recovery seed (12 to 24 words).</p>
<p>If your phone or computer breaks this is the only way to recover your money.</p>
